{"filter":false,"title":".gitignore","tooltip":"/public/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":12},"action":"insert","lines":["#ignore files installed by npm","node_modules"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":12},"end":{"row":1,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1531264839015,"hash":"ab09ce9ed333287860cda98b67bf23b6f1d26b6b"}